@import "theme";
@import "fonts";
@import "reboot";
@import "utils";
@import "customize";

#station{
    background-image: url(https://media.discordapp.net/attachments/1045227775075831808/1052337901045829743/Toxic_Station_IV.png?width=867&height=625);
    background-repeat: no-repeat;
    background-size: 100%;
}